body {
  margin: 30px auto;
  max-width: 60%;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 30px 20px;
  text-align: center;
}

h1 {
  padding: 20px 0px 10px 0px;
}


a {
color: #69CBBB;
text-decoration: none;
}


img {
  display: block;
  margin: 0px auto;
  width: 100%;
}

.portfolio-item {
  margin-top: 60px;
  padding: 40px;
  background-color: #f7f7f7;
}
